@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 overflow-hidden bg-black text-white;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #8B5CF6 #1a1a1a;
  }

  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #1a1a1a;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #8B5CF6;
    border-radius: 4px;
  }
}
